
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


textarea{
    color: #a9a9a9;
    background-color: #323232;
    border-radius: 10px;
    margin-bottom: 12px;
    margin-top: 10px;
    width: 570px;  
    height: 160px;  
    border: none;
    outline: none;
    padding: 15px;
    resize: none;
}

.project-create-Modal{
    background-color: rgba(15, 15, 15, 0.641) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    overflow: hidden;
    height: 1100px;
    width: 100%;
}

.data-collection-box{
    background-color: rgb(21, 21, 21) !important;
    box-shadow: 1px 1px 8px 2px rgba(255, 255, 255, 0.088);
    height: 1000px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2%;
    padding: 30px;
    color: white;
    padding-left: 100px;
   
}

.data-collection-box input{
    height: 40px;
    background-color: #323232;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 18px;
    color:#a9a9a9;
    font-size: 16px;
    width: 230px;
}

.hash-divider {
    border: none;
    border-top: 2px solid #737373;
    margin-top: 0;
}

.create-btn1, .create-btn2, .create-btn3{
    height: 40px;
    width :230px;
    border-radius: 10px;
    margin-top: 7%;
    border: none;
    outline: none;
    background-color: #009deb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: 'roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overall-div{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.nft-create-div{
    position: relative;
    height: 700px;
    width: 1000px;
    background-color: black;
    border-radius: 10px;
}

.nft-main-div{
   display: flex;
   justify-content: space-around;
   margin-top: 3%;
}

.nft-image-upload{
    border: 2px solid #68686876;
    height: 450px;
    width: 400px;
    border-radius: 8px;
    padding: 3;
    position: relative;
}

.nft-detail-div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 400px;
}

.nft-name, .nft-description{
    height: 40px;
    background-color: #323232;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 18px;
    color:#a9a9a9;
    font-size: 16px;
    margin-top: 10px;
    width: 400px;
}

.nft-detail{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.nft-detail-div input{
    height: 40px;
    background-color: #323232;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 18px;
    color:#a9a9a9;
    font-size: 16px;
    margin-top: 10px;
    width: 400px;
}

.lable{
    color: #a9a9a9;
    font-size: 18px;
    margin-top: 19px;
}

.nft-attribute-div{
    display: flex;
    justify-content: space-between;
}

.nft-attribute-div input{
    height: 40px;
    background-color: #323232;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 18px;
    color:#a9a9a9;
    font-size: 16px;
    margin-top: 10px;
    width: 180px;
}

.single-group{
    display: flex;
    flex-direction: column;
}

.exit-btn{
    height: 30px;
    width: 30px;
    z-index: 100;
    position:absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.create-btn{
    height: 40px;
    border-radius: 10px;
    margin-top: 7%;
    border: none;
    outline: none;
    background-color: #009deb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: 'roboto', sans-serif;
}

input[type="file"] {
    display: none;
}

.custom-file-upload{
    background-color: #009deb;
    height: 40px;
    width: 230px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 5%;
    text-align: center;
    padding: 6%;
    cursor: pointer;
}

.custom-file-upload1{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #a9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px; 
    padding: 5px;
    border-radius: 5px;
    margin-top: 30%;
    letter-spacing: 1.6px;
}

.custom-file-upload1 input {
    display: none;
}

.spin-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}

.create-project-button{
    height: 60px;
    width: 95.8%;
    border-radius: 10px;
    margin-top: 1%;
    background-color: #009debb5;
    outline: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}