@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div{
    background:  rgb(23, 23, 23) ;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 45px;
    padding-right: 20px;
    position: sticky;
    top:0;
    z-index: 699;
}

.logo-div{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    color:white;
    font-size: 30px;
    font-family: 'Varela Round',sans-serif;
    font-weight: 700;
}

.route-div{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}

.create-bt{
    background-color: #0085eb;
    border: none;
    font-family: 'Roboto',sans-serif;
    cursor: pointer;
    font-size: 15px;
    height: 35px;
    padding: 6px;
    border-radius: 8px;
    color: white;
}

.add-div{
    border: 1px solid white;
    height: 35px;
    width: 150px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.rou-btn{
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    color: white;
    letter-spacing: 1px;
    padding: 4px;
    cursor: pointer;
}

.rou-btn:hover{
    border-bottom: 2px solid #0085eb;
    color: #0085eb;
}